# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\刘晖老师\注释\annotation_smk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
